.buttons {
    background-color: rgb(82, 80, 80);
    border: 1px solid black;
    color: wheat;
  }
  .buttons_flex {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .counter {
    height: 40px;
    width: 40px;
    border: 2px solid black;
    text-align: center;
  }