.box{
    height: 600px;
    width: 1000px;
    margin: 50px auto;
    border: 3px solid black;
}
.posts__container{
    width: 820px;
    height: 150px;
    border: 2px solid black;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 10px;
    overflow: scroll;
}